In [1]:
from datetime import datetime
from tokenize import group

import polars as pl
import glob
from tqdm import tqdm

In [2]:
metadata = pl.read_csv('raw/metadata.csv', try_parse_dates=True)
metadata

shape: (25_559, 23)
┌────────────┬────────────┬────────────┬────────────┬───┬────────────┬───────────┬──────────┬──────┐
│ user       ┆ start_date ┆ end_date   ┆ length_day ┆ … ┆ province   ┆ municipal ┆ zip_code ┆ cnae │
│ ---        ┆ ---        ┆ ---        ┆ s          ┆   ┆ ---        ┆ ity       ┆ ---      ┆ ---  │
│ str        ┆ datetime[μ ┆ datetime[μ ┆ ---        ┆   ┆ str        ┆ ---       ┆ i64      ┆ i64  │
│            ┆ s, UTC]    ┆ s, UTC]    ┆ f64        ┆   ┆            ┆ str       ┆          ┆      │
╞════════════╪════════════╪════════════╪════════════╪═══╪════════════╪═══════════╪══════════╪══════╡
│ 00000c5a44 ┆ 2022-05-30 ┆ 2022-06-05 ┆ 6.0        ┆ … ┆ Gipuzkoa   ┆ null      ┆ null     ┆ 9329 │
│ 8d9faa097b ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆            ┆           ┆          ┆      │
│ 761cc98036 ┆ UTC        ┆ UTC        ┆            ┆   ┆            ┆           ┆          ┆      │
│ …          ┆            ┆            ┆            ┆   ┆            ┆           ┆          ┆      │
│ 0001b3b2f1 ┆ 2017-05-31 ┆ 2022-06-05 ┆ 1831.0     ┆ … ┆ Bizkaia    ┆ null      ┆ null     ┆ 9820 │
│ 8c01c62ed9 ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆            ┆           ┆          ┆      │
│ b2a87de7b4 ┆ UTC        ┆ UTC        ┆            ┆   ┆            ┆           ┆          ┆      │
│ …          ┆            ┆            ┆            ┆   ┆            ┆           ┆          ┆      │
│ 0003de2700 ┆ 2017-05-31 ┆ 2019-11-14 ┆ 897.0      ┆ … ┆ Gipuzkoa   ┆ Donostia/ ┆ 20013    ┆ 9820 │
│ e20a1681d6 ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆            ┆ San       ┆          ┆      │
│ 9fe287441d ┆ UTC        ┆ UTC        ┆            ┆   ┆            ┆ Sebastian ┆          ┆      │
│ …          ┆            ┆            ┆            ┆   ┆            ┆           ┆          ┆      │
│ 0004150214 ┆ 2018-07-12 ┆ 2022-06-05 ┆ 1424.0     ┆ … ┆ Gipuzkoa   ┆ Irun      ┆ 20304    ┆ 4759 │
│ d14a2b2e6f ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆            ┆           ┆          ┆      │
│ 7075531e66 ┆ UTC        ┆ UTC        ┆            ┆   ┆            ┆           ┆          ┆      │
│ …          ┆            ┆            ┆            ┆   ┆            ┆           ┆          ┆      │
│ 000721f0fc ┆ 2017-05-30 ┆ 2022-06-04 ┆ 1831.0     ┆ … ┆ Bizkaia    ┆ null      ┆ null     ┆ 9820 │
│ 6ccf02ae24 ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆            ┆           ┆          ┆      │
│ b673939795 ┆ UTC        ┆ UTC        ┆            ┆   ┆            ┆           ┆          ┆      │
│ …          ┆            ┆            ┆            ┆   ┆            ┆           ┆          ┆      │
│ …          ┆ …          ┆ …          ┆ …          ┆ … ┆ …          ┆ …         ┆ …        ┆ …    │
│ ffeddf4919 ┆ 2018-10-02 ┆ 2021-11-03 ┆ 1128.0     ┆ … ┆ Soria      ┆ null      ┆ null     ┆ 9820 │
│ e748beb50a ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆            ┆           ┆          ┆      │
│ f7c6b73def ┆ UTC        ┆ UTC        ┆            ┆   ┆            ┆           ┆          ┆      │
│ …          ┆            ┆            ┆            ┆   ┆            ┆           ┆          ┆      │
│ ffefb9e277 ┆ 2021-07-06 ┆ 2022-06-05 ┆ 334.0      ┆ … ┆ Bizkaia    ┆ Bilbao    ┆ 48012    ┆ 9820 │
│ 15b1c3fa50 ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆            ┆           ┆          ┆      │
│ 07c457de55 ┆ UTC        ┆ UTC        ┆            ┆   ┆            ┆           ┆          ┆      │
│ …          ┆            ┆            ┆            ┆   ┆            ┆           ┆          ┆      │
│ fff0adcd6c ┆ 2017-08-17 ┆ 2022-06-05 ┆ 1753.0     ┆ … ┆ Bizkaia    ┆ null      ┆ null     ┆ 9820 │
│ db7434496a ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆            ┆           ┆          ┆      │
│ 5222f03337 ┆ UTC        ┆ UTC        ┆            ┆   ┆            ┆           ┆          ┆      │
│ …          ┆            ┆            ┆            ┆   ┆            ┆           ┆          ┆      │
│ fff282fcaa ┆ 2021-11-08 ┆ 2022-06-03 ┆ 207.0      ┆ … ┆ Alicante/A ┆ null      ┆ null     ┆ 9820 │
│ 968a999b29 ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆ lacant     ┆           ┆          ┆      │
│ 01731ed2ec ┆ UTC        ┆ UTC        ┆            ┆   ┆            ┆           ┆          ┆      │
│ …          ┆            ┆            ┆            ┆   ┆            ┆           ┆          ┆      │
│ fff3e258f1 ┆ 2021-09-17 ┆ 2022-06-05 ┆ 261.0      ┆ … ┆ Gipuzkoa   ┆ Donostia/ ┆ 20011    ┆ 9820 │
│ cb36595561 ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆            ┆ San       ┆          ┆      │
│ 63542d204d ┆ UTC        ┆ UTC        ┆            ┆   ┆            ┆ Sebastian ┆          ┆      │
│ …          ┆            ┆            ┆            ┆   ┆            ┆           ┆          ┆      │
└────────────┴────────────┴────────────┴────────────┴───┴────────────┴───────────┴──────────┴──────┘

In [3]:
start_date_filter = pl.datetime(2017, 6, 1, time_zone='UTC')
end_date_filter = pl.datetime(2020, 3, 1, time_zone='UTC')


metadata_pre_house_1 = metadata.filter(
    pl.col("start_date") <= start_date_filter,
    pl.col("end_date") >= end_date_filter,
    (pl.col('cnae') > 9699),
    (pl.col('cnae') < 9849)
)
metadata_pre_house_1.head()

shape: (5, 23)
┌─────────────┬────────────┬────────────┬────────────┬───┬──────────┬────────────┬──────────┬──────┐
│ user        ┆ start_date ┆ end_date   ┆ length_day ┆ … ┆ province ┆ municipali ┆ zip_code ┆ cnae │
│ ---         ┆ ---        ┆ ---        ┆ s          ┆   ┆ ---      ┆ ty         ┆ ---      ┆ ---  │
│ str         ┆ datetime[μ ┆ datetime[μ ┆ ---        ┆   ┆ str      ┆ ---        ┆ i64      ┆ i64  │
│             ┆ s, UTC]    ┆ s, UTC]    ┆ f64        ┆   ┆          ┆ str        ┆          ┆      │
╞═════════════╪════════════╪════════════╪════════════╪═══╪══════════╪════════════╪══════════╪══════╡
│ 0001b3b2f18 ┆ 2017-05-31 ┆ 2022-06-05 ┆ 1831.0     ┆ … ┆ Bizkaia  ┆ null       ┆ null     ┆ 9820 │
│ c01c62ed9b2 ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆          ┆            ┆          ┆      │
│ a87de7b4…   ┆ UTC        ┆ UTC        ┆            ┆   ┆          ┆            ┆          ┆      │
│ 000721f0fc6 ┆ 2017-05-30 ┆ 2022-06-04 ┆ 1831.0     ┆ … ┆ Bizkaia  ┆ null       ┆ null     ┆ 9820 │
│ ccf02ae24b6 ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆          ┆            ┆          ┆      │
│ 73939795…   ┆ UTC        ┆ UTC        ┆            ┆   ┆          ┆            ┆          ┆      │
│ 001be27fc1f ┆ 2017-05-31 ┆ 2022-06-05 ┆ 1831.0     ┆ … ┆ Gipuzkoa ┆ null       ┆ null     ┆ 9820 │
│ 3e2daa58919 ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆          ┆            ┆          ┆      │
│ a9de02e9…   ┆ UTC        ┆ UTC        ┆            ┆   ┆          ┆            ┆          ┆      │
│ 00264d83537 ┆ 2017-05-31 ┆ 2022-06-05 ┆ 1831.0     ┆ … ┆ Bizkaia  ┆ null       ┆ null     ┆ 9820 │
│ 1489e863125 ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆          ┆            ┆          ┆      │
│ 29d5e5aa…   ┆ UTC        ┆ UTC        ┆            ┆   ┆          ┆            ┆          ┆      │
│ 002da62dc54 ┆ 2017-05-31 ┆ 2022-06-05 ┆ 1831.0     ┆ … ┆ Navarra  ┆ Pamplona/I ┆ 31015    ┆ 9820 │
│ b7a78947318 ┆ 01:00:00   ┆ 00:00:00   ┆            ┆   ┆          ┆ runa       ┆          ┆      │
│ 2feddfad…   ┆ UTC        ┆ UTC        ┆            ┆   ┆          ┆            ┆          ┆      │
└─────────────┴────────────┴────────────┴────────────┴───┴──────────┴────────────┴──────────┴──────┘

In [4]:
metadata_pre_house_1_users = metadata_pre_house_1['user'].unique().to_list()

In [5]:
print(f"Post-COVID household users={len(metadata_pre_house_1_users)}")

Post-COVID household users=4928

# Combine CSV

In [6]:
source_folder = 'dataset/goi4_pre/imp_csv'
csv_files = glob.glob(f"{source_folder}/*.csv")

In [7]:
def combine(mask: list[str], csv_files: list[str], filename:str='dataset/goi4_pre/household_activities_2017.csv') -> pl.DataFrame:
    """
    Combine multiple CSV files into a single DataFrame, filtering by household profiles.
    """
    dataframes = pl.DataFrame()
    for csv_file in tqdm(csv_files):
        profile_id = csv_file.split('/')[-1].split('.')[0]
        if profile_id not in mask:
            continue

        df = pl.read_csv(csv_file, try_parse_dates=True, schema_overrides={'kWh':pl.Float64})
        df = df.with_columns(pl.lit(profile_id).alias('profile_id'))

        df = df.with_columns(
            pl.col("timestamp")
            .dt.replace_time_zone("UTC"))

        df = df.filter(pl.col('timestamp') >= start_date_filter,
                       pl.col('timestamp') <= end_date_filter)

        if not dataframes.columns:
            dataframes = df.clone()
            continue
        dataframes.extend(df)
    if filename:
        dataframes = dataframes.drop('imputed')
        dataframes.write_csv(filename)

    return dataframes

In [8]:
combine(metadata_pre_house_1_users, csv_files)

100%|██████████| 12149/12149 [00:35<00:00, 344.66it/s]

shape: (118_216_122, 3)
┌─────────────────────────┬───────┬─────────────────────────────────┐
│ timestamp               ┆ kWh   ┆ profile_id                      │
│ ---                     ┆ ---   ┆ ---                             │
│ datetime[μs, UTC]       ┆ f64   ┆ str                             │
╞═════════════════════════╪═══════╪═════════════════════════════════╡
│ 2017-06-01 00:00:00 UTC ┆ 0.11  ┆ 3b71707954dc962ab68fe44fa46b62… │
│ 2017-06-01 01:00:00 UTC ┆ 0.152 ┆ 3b71707954dc962ab68fe44fa46b62… │
│ 2017-06-01 02:00:00 UTC ┆ 0.023 ┆ 3b71707954dc962ab68fe44fa46b62… │
│ 2017-06-01 03:00:00 UTC ┆ 0.045 ┆ 3b71707954dc962ab68fe44fa46b62… │
│ 2017-06-01 04:00:00 UTC ┆ 0.066 ┆ 3b71707954dc962ab68fe44fa46b62… │
│ …                       ┆ …     ┆ …                               │
│ 2020-02-29 20:00:00 UTC ┆ 0.665 ┆ 5793ddb25829ba3db566b882d7cf11… │
│ 2020-02-29 21:00:00 UTC ┆ 1.448 ┆ 5793ddb25829ba3db566b882d7cf11… │
│ 2020-02-29 22:00:00 UTC ┆ 0.17  ┆ 5793ddb25829ba3db566b882d7cf11… │
│ 2020-02-29 23:00:00 UTC ┆ 0.059 ┆ 5793ddb25829ba3db566b882d7cf11… │
│ 2020-03-01 00:00:00 UTC ┆ 0.065 ┆ 5793ddb25829ba3db566b882d7cf11… │
└─────────────────────────┴───────┴─────────────────────────────────┘

In [9]:
df_activities = pl.read_csv("dataset/goi4_pre/household_activities_2017.csv")
df_activities.head()

shape: (5, 3)
┌─────────────────────────────────┬───────┬─────────────────────────────────┐
│ timestamp                       ┆ kWh   ┆ profile_id                      │
│ ---                             ┆ ---   ┆ ---                             │
│ str                             ┆ f64   ┆ str                             │
╞═════════════════════════════════╪═══════╪═════════════════════════════════╡
│ 2017-06-01T00:00:00.000000+000… ┆ 0.11  ┆ 3b71707954dc962ab68fe44fa46b62… │
│ 2017-06-01T01:00:00.000000+000… ┆ 0.152 ┆ 3b71707954dc962ab68fe44fa46b62… │
│ 2017-06-01T02:00:00.000000+000… ┆ 0.023 ┆ 3b71707954dc962ab68fe44fa46b62… │
│ 2017-06-01T03:00:00.000000+000… ┆ 0.045 ┆ 3b71707954dc962ab68fe44fa46b62… │
│ 2017-06-01T04:00:00.000000+000… ┆ 0.066 ┆ 3b71707954dc962ab68fe44fa46b62… │
└─────────────────────────────────┴───────┴─────────────────────────────────┘

# Preprocess

## Interpolate

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("dataset/goi4_pre/household_activities_2017.csv")

In [12]:
df.head()

,timestamp,kWh,profile_id
0,2017-06-01T00:00:00.000000+0000,0.110,3b71707954dc962ab68fe44fa46b62d9a9b5348ce457bf...
1,2017-06-01T01:00:00.000000+0000,0.152,3b71707954dc962ab68fe44fa46b62d9a9b5348ce457bf...
2,2017-06-01T02:00:00.000000+0000,0.023,3b71707954dc962ab68fe44fa46b62d9a9b5348ce457bf...
3,2017-06-01T03:00:00.000000+0000,0.045,3b71707954dc962ab68fe44fa46b62d9a9b5348ce457bf...
4,2017-06-01T04:00:00.000000+0000,0.066,3b71707954dc962ab68fe44fa46b62d9a9b5348ce457bf...

In [13]:
df_ = df.copy()

In [14]:
df_['timestamp'] = pd.to_datetime(
    df_['timestamp'],
    format='%Y-%m-%dT%H:%M:%S.%f%z'
)

In [15]:
df_.head()

,timestamp,kWh,profile_id
0,2017-06-01 00:00:00+00:00,0.110,3b71707954dc962ab68fe44fa46b62d9a9b5348ce457bf...
1,2017-06-01 01:00:00+00:00,0.152,3b71707954dc962ab68fe44fa46b62d9a9b5348ce457bf...
2,2017-06-01 02:00:00+00:00,0.023,3b71707954dc962ab68fe44fa46b62d9a9b5348ce457bf...
3,2017-06-01 03:00:00+00:00,0.045,3b71707954dc962ab68fe44fa46b62d9a9b5348ce457bf...
4,2017-06-01 04:00:00+00:00,0.066,3b71707954dc962ab68fe44fa46b62d9a9b5348ce457bf...

In [16]:
df_ = df_.sort_values(by=['profile_id', 'timestamp'])

In [17]:
df_['timestamp'].min(), df_['timestamp'].max()

(Timestamp('2017-06-01 00:00:00+0000', tz='UTC'),
 Timestamp('2020-03-01 00:00:00+0000', tz='UTC'))

In [18]:
time_grid  = pd.date_range(df_['timestamp'].min(),
                           df_['timestamp'].max(),
                           freq='30min')
profile_ids = df_['profile_id'].unique()

In [19]:
idx = pd.MultiIndex.from_product(
    [profile_ids, time_grid],
    names=['profile_id','timestamp']
)

In [20]:
df_idx = df_.set_index(['profile_id','timestamp'])
df_30 = df_idx.reindex(idx)

In [21]:
df_30.head()

                                                                                kWh
profile_id                                         timestamp
0001b3b2f18c01c62ed9b2a87de7b4e33e7836f786f7904... 2017-06-01 00:00:00+00:00  0.190
                                                   2017-06-01 00:30:00+00:00    NaN
                                                   2017-06-01 01:00:00+00:00  0.057
                                                   2017-06-01 01:30:00+00:00    NaN
                                                   2017-06-01 02:00:00+00:00  0.099

In [22]:
df_30['kWh_interpolated'] = (
    df_30
    .groupby('profile_id')['kWh']
    .transform(lambda s: s.interpolate(method='linear'))
)

In [23]:
df_30.head()

                                                                                kWh  \
profile_id                                         timestamp
0001b3b2f18c01c62ed9b2a87de7b4e33e7836f786f7904... 2017-06-01 00:00:00+00:00  0.190
                                                   2017-06-01 00:30:00+00:00    NaN
                                                   2017-06-01 01:00:00+00:00  0.057
                                                   2017-06-01 01:30:00+00:00    NaN
                                                   2017-06-01 02:00:00+00:00  0.099

                                                                              kWh_interpolated
profile_id                                         timestamp
0001b3b2f18c01c62ed9b2a87de7b4e33e7836f786f7904... 2017-06-01 00:00:00+00:00            0.1900
                                                   2017-06-01 00:30:00+00:00            0.1235
                                                   2017-06-01 01:00:00+00:00            0.0570
                                                   2017-06-01 01:30:00+00:00            0.0780
                                                   2017-06-01 02:00:00+00:00            0.0990

In [26]:
df_30 = df_30.drop(columns=['kWh'])
df_30 = df_30.rename(columns={'kWh_interpolated': 'kWh'})
df_30 = df_30.reset_index()

df_30['profile_id'] = [a[:7]for a in df_30['profile_id']]
df_30['timestamp'] = [a.replace('+00:00','.0000000') for a in df_30['timestamp']]

In [27]:
df_30.head()

                                                                                 kWh
profile_id                                         timestamp
0001b3b2f18c01c62ed9b2a87de7b4e33e7836f786f7904... 2017-06-01 00:00:00+00:00  0.1900
                                                   2017-06-01 00:30:00+00:00  0.1235
                                                   2017-06-01 01:00:00+00:00  0.0570
                                                   2017-06-01 01:30:00+00:00  0.0780
                                                   2017-06-01 02:00:00+00:00  0.0990

In [ ]:
df_30 = df_30.reset_index()

In [ ]:
df_17 = df_30[df_30['timestamp'] == '2017-06-02 00:00:00.0000000']
df_20 = df_30[df_30['timestamp'] == '2020-02-28 00:00:00.0000000']

In [ ]:
df_17 = df_17[df_17['kWh']==0.0]
df_20 = df_20[df_20['kWh']==0.0]

In [ ]:
users = list(df_17['profile_id'].unique())
users.extend(list(df_20['profile_id'].unique()))
users = list(set(users))

len(users)

In [ ]:
df_4676 = df_30.drop(df_30.index[df_30['profile_id'].isin(users)])

In [10]:
df_4676.to_csv("dataset/goi4_pre/GoiEner_pre.csv")

In [1]:
import pandas as pd
df_30 = pd.read_csv("dataset/goi4_pre/GoiEner_pre.csv")

In [2]:
df_30.head()

  profile_id                    timestamp    kWh
0    0001b3b  2017-06-01 00:00:00.0000000  0.190
1    0001b3b  2017-06-01 00:30:00.0000000  0.124
2    0001b3b  2017-06-01 01:00:00.0000000  0.057
3    0001b3b  2017-06-01 01:30:00.0000000  0.078
4    0001b3b  2017-06-01 02:00:00.0000000  0.099